@model IEnumerable<ClubReservation.Models.Club>
@{
    ViewBag.Title = "俱乐部一览";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <!--自定义样式-->
    <link href="@Url.Content("~/Content/pagecss/club.css")" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/pagejs/club.js")"></script>
}
<div class="page-header position-relative">
    <h1>俱乐部管理<small><i class="icon-double-angle-right"></i> 俱乐部一览</small></h1>
</div><!--/page-header-->
<!-- 操作后的信息弹出层 -->
<div class="row-fluid" id="div-alert-message">
    <!-- PAGE CONTENT BEGINS HERE -->
</div>
<div class="row-fluid">
    <div class="table-header">
        <i class="icon-user"></i>&nbsp;&nbsp;俱乐部一览
    </div>
    <div id="div-table-club">
        @Html.Partial("~/Views/Club/_ClubTable.cshtml", Model)
    </div>
</div>
<div id="ace-settings-container">
    <!--#breadcrumbs皮肤的设置-->
    @Html.Partial("~/Views/Shared/_PageSkin.cshtml")
</div><!--/#ace-settings-container-->

